:root {
    --line-height-web21: 21px;
    --line-height-18: 18px;
    --spacing-150: 12px;
    --font-size-text-preset-2: 16px;
    --font-size-text-preset-3: 14px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F4D04E;
    width: 100%;
    height: 100vh;
    font-family: "Figtree", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-wrapper {
    background-color: #FFF;
    width: 384px;
    height: 522px;
    border-radius: 20px;
    
    padding: 24px;
    gap: 24px;
    border: 1px solid var(--color-gray-950, #111111);

    box-shadow: 8px 8px 0px 0px;
    display: flex;
    flex-direction: column;
}


.card-body {
    gap: var(--spacing-150);
    display: flex;
    flex-direction: column;
}

.header-img {
    width: 336px;
    height: 200px;
    border-radius: 10px;

}

.card-tag {
    padding: 4px var(--spacing-150);
    border-radius: 4px;
    background-color: #F4D04E;
    width: fit-content;

    color: #111;
    line-height: var(--line-height-web21);
    font-size: 14px;
    font-weight: 800;

}

.card-date {
    line-height: var(--line-height-web21);
    font-weight: 500;
    font-size: 14px;
}

.card-title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 800;
}

.card-desc {
    color: #6B6B6B;
    line-height: 24px;
    font-weight: 500;
    font-size: var(--font-size-text-preset-2);
}

.text-bold {
    color: #111;
    line-height: var(--line-height-web21);
    font-size: var(--font-size-text-preset-3);
    font-weight: 800;
}

.author-avt {
    width: 32px;
    height: 32px;
}

.card-author {
    display: flex;
    align-items: center;
    gap: var(--spacing-150);
}

@media (max-width: 400px) {
    .card-tag {
        font-size: var(--spacing-150);
        line-height: var(--line-height-18);
    }

    .card-date {
        line-height: var(--line-height-18);
        font-size: var(--spacing-150);
    }

    .card-title {
        font-size: 20px;
        line-height: 30px;
    }

    .card-desc {
  
        line-height: 21px;
        font-size: var(--font-size-text-preset-3);
    }


    .header-img {
        width: 279px;
        height: 200px;
        border-radius: 10px;
    }

    .card-wrapper {
        width: 327px;
        height: 501px;
    }
}